--
-- PostgreSQL database dump
--

\restrict wA7Ncoy61lkGheQpTlwyqhgd6sn01qCHfUCGHYVTmC8Nm8HPfubtnuHFMOw8SFO

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: PRFile; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public."PRFile" (
    id text NOT NULL,
    "prId" text NOT NULL,
    path text NOT NULL,
    patch text NOT NULL
);


ALTER TABLE public."PRFile" OWNER TO app;

--
-- Name: PullRequest; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public."PullRequest" (
    id text NOT NULL,
    repo text NOT NULL,
    number integer NOT NULL,
    title text NOT NULL,
    author text NOT NULL,
    "headSha" text NOT NULL,
    "baseSha" text NOT NULL,
    state text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PullRequest" OWNER TO app;

--
-- Name: ReviewRun; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public."ReviewRun" (
    id text NOT NULL,
    "prId" text NOT NULL,
    status text NOT NULL,
    "startedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    provider text,
    "userId" text
);


ALTER TABLE public."ReviewRun" OWNER TO app;

--
-- Name: Suggestion; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public."Suggestion" (
    id text NOT NULL,
    "runId" text NOT NULL,
    "filePath" text NOT NULL,
    "startLine" integer NOT NULL,
    "endLine" integer NOT NULL,
    message text NOT NULL,
    "fixPatch" text,
    severity text NOT NULL
);


ALTER TABLE public."Suggestion" OWNER TO app;

--
-- Name: User; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "githubId" text NOT NULL,
    name text,
    "avatarUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."User" OWNER TO app;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO app;

--
-- Data for Name: PRFile; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: PullRequest; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public."PullRequest" (id, repo, number, title, author, "headSha", "baseSha", state, "createdAt", "updatedAt") FROM stdin;
cmfhfdkyo0000f04kh7dpg759	owner/repo	405	Demo PR	you	HEAD123	BASE123	open	2025-09-12 22:44:58.08	2025-09-12 22:44:58.08
cmfhfinja0002f04k48chnlg2	owner/repo	912	Demo PR	you	HEAD123	BASE123	open	2025-09-12 22:48:54.693	2025-09-12 22:48:54.693
\.


--
-- Data for Name: ReviewRun; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public."ReviewRun" (id, "prId", status, "startedAt", "completedAt", provider, "userId") FROM stdin;
\.


--
-- Data for Name: Suggestion; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public."Suggestion" (id, "runId", "filePath", "startLine", "endLine", message, "fixPatch", severity) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public."User" (id, "githubId", name, "avatarUrl", "createdAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
a11c5bc7-eae6-4d37-8a24-42ef98d0c497	1b38bfd0b310866280f59a6f4d4853edd48eb99b1b6d26fdfe3ee4e47dd1e59d	2025-09-12 22:44:03.01288+00	20250827184303_init	\N	\N	2025-09-12 22:44:02.960106+00	1
\.


--
-- Name: PRFile PRFile_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."PRFile"
    ADD CONSTRAINT "PRFile_pkey" PRIMARY KEY (id);


--
-- Name: PullRequest PullRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."PullRequest"
    ADD CONSTRAINT "PullRequest_pkey" PRIMARY KEY (id);


--
-- Name: ReviewRun ReviewRun_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."ReviewRun"
    ADD CONSTRAINT "ReviewRun_pkey" PRIMARY KEY (id);


--
-- Name: Suggestion Suggestion_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."Suggestion"
    ADD CONSTRAINT "Suggestion_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: PullRequest_repo_number_key; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX "PullRequest_repo_number_key" ON public."PullRequest" USING btree (repo, number);


--
-- Name: User_githubId_key; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX "User_githubId_key" ON public."User" USING btree ("githubId");


--
-- Name: PRFile PRFile_prId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."PRFile"
    ADD CONSTRAINT "PRFile_prId_fkey" FOREIGN KEY ("prId") REFERENCES public."PullRequest"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ReviewRun ReviewRun_prId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."ReviewRun"
    ADD CONSTRAINT "ReviewRun_prId_fkey" FOREIGN KEY ("prId") REFERENCES public."PullRequest"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ReviewRun ReviewRun_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."ReviewRun"
    ADD CONSTRAINT "ReviewRun_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Suggestion Suggestion_runId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public."Suggestion"
    ADD CONSTRAINT "Suggestion_runId_fkey" FOREIGN KEY ("runId") REFERENCES public."ReviewRun"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict wA7Ncoy61lkGheQpTlwyqhgd6sn01qCHfUCGHYVTmC8Nm8HPfubtnuHFMOw8SFO

